/* Variables.scss
 * Global variables used throughout source files
 */

/// Colors used throughout the site
///
/// @see {Function} color
/// @type Map
$colors: (
	brickRed    : rgb(115,2,2),
	darkRed     : rgb(75,24,0),
	green       : rgb(0,83,0),
	mustard     : rgb(215,162,67),
	kickstarter : #2bde73
) !global;

/// Base font size of the site
///
/// @see {Function} em
/// @see {Function} rem
/// @see {Variable} $ms-base Used for modular scale
$emBase: 16px !global;

/// Font stack used throughout the site
$fontStack: 'Avenir Next','Futura','Helvetica Neue',sans-serif;

/// Base font size of the site used for calculating the modular scale of the site
///
/// @require {Variable} $emBase
/// @see {Function} ms
$ms-base: em($emBase);

/// Ratio used for calculating the modular scale of the site
///
/// @see {Function} ms
$ms-ratio: $fourth;

/// Layers of various layout components
///
/// @see {Mixin} layer
/// @type Map
$layers: (
	modal: 800,
	logo: 700,
	header: 600,
	footer: 500,
	sidebar: 400,
	caption: 300,
	image: 200,
	text: 100
) !global;

/// Map of breakpoints for responsive design. Note that these will be converted
/// to em units by the mq mixin.
///
/// @see {Mixin} mq
/// @type Map
$mq-breakpoints: (
	narrow :  500px,
	medium :  800px,
	wide   :  980px,
	xwide  : 1300px
) !global;

/// Breakpoint above which styles will need be generated when $mq-responsive is
/// set to 'false'
///
/// @see {Mixin} mq
/// @type String
$mq-static-breakpoint: wide !global;

/// Spacing used throughout the site
$s1: ms(1);
$s2: ms(2);
$s3: ms(3);
$s4: ms(4);

/// Settings for Susy grid system. Fluid grid with static (aka 'elastic',
/// because it's defined in font-relative units) gutters.
///
/// @link http://susydocs.oddbird.net/en/latest/settings/#gutter-position
/// @link https://github.com/ericam/susy/issues/368
/// @link http://sassmeister.com/gist/7da95c41fff076dd7266
/// @see {Mixin} container
/// @see {Mixin} span
/// @type Map
$susy: (
	gutter-position: inside-static,
	container: 100%,
	columns: 12,
	column-width: 8rem,
	gutter: $s2/8rem,
) !global;
