@viewport {
	width: device-width;
	zoom: 1;
}

embed,
img,
object,
video {
	max-width: 100%;
	height: auto;
}

// Normalize always goes before everything except the @viewport block(s)
@import '../../../node_modules/normalize.css/normalize.css';
