body {
	color: color(darkRed);
	font-size: 100%;
}

p {

}

h1, .h1, %h1 { font-size: ms(4); }
h2, .h2, %h2 { font-size: ms(3); }
h3, .h3, %h3 { font-size: ms(2); }
h4, .h4, %h4 { font-size: ms(1); }
