.SiteHeader {
	background-color: color(green);

	@include mq($from: medium) {
		@include cf;
		display: flex;
		flex-direction: row-reverse;
	}
}

.SiteLogo {
	color: white;
	font-size: ms(1);
	margin: 0;
	padding: $s1 0;
	text-align: center;

	@include mq($from: medium) {
		align-self: center;
		text-align: left;
	}

	@include mq(medium, wide) {
		@include span(4 rtl);
		flex-basis: percent(4/12);
	}

	@include mq($from: wide) {
		@include span(3 rtl);
		flex-basis: percent(3/12);
	}
}

.SiteNav {
	@include mq($until: medium) {
		background-color: shade(color(green),50);
	}

	@include mq($from: medium) {
		align-self: center;
	}

	@include mq(medium, wide) {
		@include span(8 rtl);
		flex-basis: percent(8/12);
	}

	@include mq($from: wide) {
		@include span(9 rtl);
		flex-basis: percent(9/12);
	}
}

	.SiteNavList {
		@extend .unList;
		text-align: center;

		@include mq($from: medium) {
			text-align: right;
		}

		@include mq($from: wide) {
			font-size: ms(1);
		}
	}

		.SiteNavList-item {
			display: inline-block;

			&:first-child {
				margin-left: 0;
			}
		}

		.SiteNavList-link {
			color: white;
			display: block;
			line-height: 44px;
			padding: 0 $s1/2;
			text-decoration: none;
		}

