.home {

	.Section--whoWeAre {
		background-color: color(mustard);
		color: white;
	}

	.Section--map {
		padding: 0;
	}

		.truckMap {
			display: block;
		}

		@include mq($from: wide) {
			.truckMap {
				height: 400px; // Overriding the inline height attribute of 300px
			}
		}

	.Section--recipes {
		background-color: tint(color(mustard),75);
	}

	@include mq($from: medium) {
		.SiteMain {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
		}

		.Section {
			flex-basis: 100%;
		}

		.Section--map {
			order: -1;
		}

		.Section--blogTeaser {
			@include span(8);
			flex-basis: percent(8/12);
		}
	}

	@include mq(medium, wide) {
		.Section--socialEmbeds {
			@include span(4);
			flex-basis: percent(4/12);
		}

		.Section--recipes {
			display: flex;
		}

		.recipe {
			flex: 1 1 auto;

			+ .recipe {
				margin-left: $s2;
			}
		}
	}

	@include mq($from: wide) {

		.SiteMain {
			position: relative;
		}

		.Section--socialEmbeds {
			padding: 0;
			position: absolute;
			top: $s1;
			right: $s1;
			width: percent(4/12);
			$width: percent(4/12);
			width: calc(#{$width} - #{$s1});

			> iframe {
				height: 350px; // If calc isn't supported
				height: calc(400px - #{$s1}*2);
			}
		}

		.Section--recipes {
			@include span(4);
			flex-basis: percent(4/12);
		}

		.Section--footer {
			@include break;
		}
	}
} // END .home
